.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

.hours {
  fill: white;
}

.markercolour {
  fill: white;
}

.hourtext {
  font-size: 36;
  font-family: System-Light;
}

.accentcolour {
  fill: red;
}

.maindialquarter {
  x: 0%-1;
  y: -48%;
  width: 3;
  height: 10;
}

.maindialfive {
  x: 0%-1;
  y: -48%;
  width: 3;
  height: 10;
}

.maindialminute {
  x: 0%-1;
  y: -48%;
  width: 2;
  height: 2;
}

.daymonthtext {
  font-family: Seville-Regular;
  font-size: 26;
  text-anchor: middle;
  text-length: 8;
}

.datetext {
  font-family: Seville-Regular;
  font-size: 46;
  text-anchor: middle;
  text-length: 4;
}

.hourmarker24text {
  x: 0%;
  y: -36%;
  font-family: Seville-Bold;
  font-size: 15;
  text-anchor: middle;
}

.hourmarker24tickS {
  x: 0%;
  y: -45%;
  width: 2;
  height: 2;
}

.hourmarker24tickL {
  x: 0%;
  y: -45%;
  width: 2;
  height: 6;
}
