.default {
  fill: white;
}

.hours {
  fill: white;
}

.markercolour {
  fill: white;
}

.hourtext {
  font-size: 40;
  text-length: 2;
  font-family: System-Regular;
  text-anchor: middle;
}

.accentcolour {
  fill: red;
}

.maindialfive {
  x: 0%-1;
  y: -48%;
  width: 3;
  height: 10;
}

.maindialminute {
  x: 0%-1;
  y: -48%;
  width: 2;
  height: 2;
}

.heartrate {
  fill: white;
  text-length: 4;
  text-anchor: start;
  font-size: 26;
}

#iconHRM {
  width: 24;
  height: 24;
  fill: red;
}

.battery {
  font-size: 24;
  text-length: 2;
  text-anchor: end;
}

.battery-percent {
  font-size: 18;
}

.StepsText {
  font-size: 18;
  text-anchor: middle;
  font-weight: light;
}

.Steps {
  font-size: 24;
  text-anchor: middle;
  text-length: 6;
  font-weight: light;
}

.Date {
  font-size: 24;
  text-anchor: middle;
  text-length: 6;
  font-weight: light;
  x: 50%;
  y: 100%-73;
}

.PhantomTypeText {
  font-size: 18;
  text-anchor: middle;
  text-length: 12;
  font-weight: light;
  fill: gray;
}

#logo {
  x: 50%;
  y: 100%-120;
  width: 40;
  height: 20;
  fill: gray;
}
