.default {
  fill: white;
}

.hours {
  fill: white;
}

.markercolour {
  fill: white;
}

.hourtext {
  font-size: 40;
  text-length: 2;
  font-family: System-Regular;
  text-anchor: middle;
}

.accentcolour {
  fill: red;
}

.maindialfive {
  x: 0%-1;
  y: -48%;
  width: 3;
  height: 10;
}

.maindialminute {
  x: 0%-1;
  y: -48%;
  width: 2;
  height: 2;
}

.heartrate {
  fill: white;
  text-length: 4;
  text-anchor: start;
}

#iconHRM {
  width: 24;
  height: 24;
  fill: red;
}

.battery {
  text-length: 4;
}

.battery-percent {
  font-size: 22;
}
